<!DOCTYPE html>
<html>
<head>
    <title>My First Flask Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="text-align:center; margin-bottom:20px;">
        <img src="{{ url_for('static', filename='logo.jpeg') }}"
             alt="Ganesh Youth Force"
             style="width:110px; height:110px;
                    border-radius:50%; object-fit:cover;">
    </div>

    <h1>Welcome to my Flask app!</h1>
    <p>This page is made using an HTML template.</p>
    <a href="/about">Go to About page</a>
    <p><a href="/form">Go to Form page</a></p>
</body>
</html>